body {
    margin: 0;  
    padding: 0;
    border: none;
    list-style: none;           
    background-color: #E2DDC7;
    overflow: hidden;
}

.navbar {
	background-color: #76a3a0;
	font-size: 13px;
	width: 100%;
	border-bottom: 1px solid #cacaca;
}

.navbar a {
	color: #fafafa !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #76a3a0;
}

.dropdown-menu {
	background-color: #76a3a0;
	border-top: none;
}

.dropdown-menu a:hover {
	background-color: #000000;
}
.btn-stratego {
	background-color: #8F793D;
	color: #fafafa;
	border: 1px solid #868686;
	outline: none;
}

.btn-stratego:hover {
	color: #fafafa;
}

.btn-stratego i {
	font-size: 15px;
}

#tabuleiro{
	padding-bottom: 15px;
	width: 730px;
	border-radius: 5px;
	display: inline-block;
}
#exercito {
	display: inline-block;
	width: 440px;
	position: absolute;
}

#exercito .peca {
	margin-left: 5px;
	margin-bottom: 5px;
}

.ui-widget-header{
	height: 50px;
    width: 50px;    
    display: inline-block;
}
.posicao{
	background-color: #879a50;
	border: 1px solid #52572E;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 68px;
	height: 65px;
}
.lago{   
    display: inline-block;
	background-color: #349DD1;

}
.linha {
	margin-bottom: -5px;
	margin-left: 18px;
}
.peca{
	background-size: 67px;
	background-repeat: no-repeat;
	width: 68px;
	height: 65px;
	background-position-x: -1px;
	background-position-y: -3px;
	display: inline-block;
}

.seletor{
	width: 100px;
}

.opcaoDeMovimento {
	background-color: #cbe474;
}
.exercito_azul{
	background-color: #070967;
}
.exercito_vermelho{
	background-color: #fa2a52;	
}
.jogador_da_vez{
   color: #fd0a39;
}

.navbar-brand {

}

#chat {
	position: absolute;
	top: 94%;
	right: 0px;
	height: 40px;
	width: 300px;
	background: #fddf53;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-top: 1px solid #C0BEBE;
	cursor: pointer;
}

#chat p {
	color: #464242;
	font-size: 20px;
	text-align: center;
	padding-top: 6px;
}

#chat p i {
	margin-right: 10px;
}

#chat-window {
	position: absolute;
	top: 51px;
	right: 1px;
	height: 92.5%;
	width: 300px;
	background: #F8F3DD;
	border-left: 1px solid #C0BEBE;
	display: none;
}

.send-messages {
	position: absolute;
	top: 93.5%;
	width: 100%;
	background-color: #B3DBD9;
}

.input-chat {
	width: 85%;
	border: none;
	height: 40px;
	outline: none;
	padding-left: 5px;
	border-top: 1px solid #C0BEBE;
	color: #686666;
	background-color: transparent;
}

.close {
	position: absolute;
	right: 4px;
	top: 5px;
	cursor: pointer;
}

.close i {
	color: #000000;
	font-size: 13px;
}

.send-button {
	height: 40px;
	width: 40px;
	background-color: transparent;
	border: none;
	outline: none;
	border-top: 1px solid #C0BEBE;
}

.send-button i {
	color: #A79A9A;
}

.messages {
	overflow-y: scroll;
	height: 89%;
	margin-top: 26px;
}

.messages p {
	margin-bottom: 1px;
	margin-left: 10px;
	margin-top: 16px;
	word-wrap: break-word;
	padding-right: 20px;
}

.messages p:last-child{
	margin-top: 5px;
}