<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tabuleiro</title>
  <script src="public/javascripts/jquery/jquery.js"></script>  
  <link rel="stylesheet" href="stylesheet/style.css">
  <script src="public/javascripts/tabuleiro.js"></script>
  <script src="public/javascripts/comunication.js"></script> 
  <sript src="public/javascripts/jogo.js"></sript>
</head>

<body>

  <div>
    <label for="nomeJogador">Jogador</label>
    <input  id="nomeJogador" type="text" size="30" name="nomeJogador"><br>
    <select class='seletor' style="width:100px;"></select>
  </div>

  <div id="tabuleiro" style="width:560px;">
    

    <div class="ui-widget-content peca" >
      <span></span>
    </div>
  </div>​

</body>
</html>

